<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>E-Learning System</h1>
  <br><br>
  <p> Team : Mu mai dinh </p>
  <p> Mangusidan</p>
  <br><br>
  <p> Click this button if you dont have an account</p>
  <p><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>
  <br/>
  <br/>
</div>
