<%= provide :title, "Category List" %>
<h1 class="center">Category List</h1>
<br>
<%= will_paginate %>
<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item">
      <div class="pull-left" style="font-size:20px;">
        <%= link_to category.name, admin_category_path(category) %>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
