<h1><%= @category.name %></h1>
<div class="panel panel-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= "Words" %></th>
        <th><%= "Answer" %></th>
      </tr>
    </thead>
  </table>
</div>
