<footer class="footer">
  <nav>
    <ul>
      <div> Web Design Copyright © 2022.</div>
      <a href="https://www.facebook.com/profile.php?id=100009177741182" target="_blank">Mangusidan</a>
    </ul>
  </nav>
</footer>
